body{
    background-size: cover;
}

.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}

#status, #number_of_objects, #start{
    font-size:18px;
}

.copy_right_footer{
    position: fixed;
    background-color: goldenrod;
    color: black;
    width:100%;
    line-height: 3;
    text-align: right;
    bottom:0;
    font-weight: 400;
    font-family: 'Italianno', cursive;
    font-size: 26px;
}